{{- define "main" -}}

<article class="article" itemscope itemtype="http://schema.org/Article">

  {{ partial "page_header.html" . }}

  <div class="article-container">
    {{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}
    {{ if and (eq .Type "post") $featured }}
      {{ $image := $featured.Fit "920x520 q90" }}
      <div class="article-featured-inline" style="max-width: 760px; margin: 0 auto 1.5rem;">
        <img src="{{ $image.RelPermalink }}" itemprop="image" alt="{{ .Title }}" style="width: 100%; height: auto; border-radius: 0.5rem;">
        {{ with .Params.image.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
      </div>
    {{ end }}

    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>

    {{ partial "tags.html" . }}

    {{ if ne .Type "page" }}
      {{ partial "page_author.html" . }}
      {{ $related := site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      <div class="article-widget">
        <div class="hr-light"></div>
        <h3>{{ i18n "related" }}</h3>
        <ul>
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    {{ end }}

    {{ if site.Params.section_pager }}
    <div class="article-widget">
      {{ partial "section_pager.html" . }}
    </div>
    {{ end }}

    {{ partial "comments.html" . }}

  </div>
</article>

{{- end -}}
